<div class="jumbotron">
  <h1>AngularJS Promise Example</h1>
  <p class="lead">
    <img src="images/cropped-syn-logo-withTagLine1.png" alt="I'm Synerzip"><br>
    Demo to illustrate angularJs Concept
  </p>
</div>
<div class="row marketing">
  <p>
    <ul>
      <li><b>Promise and Services Demo:  (To search for any movie click on Movie search tab)</b></li>
      <li><a ng-href="https://docs.google.com/document/d/17EebN4VCLOqGvjLGxDFffdkMMwdcxdBTfJS9zEEJnMs/edit?usp=sharing" target="_blank">
              <b>Service,Promise,Factory</b>
      </a><small>To see difference between these and their implementation</small></li>
      <li><b>Server Interaction Demo:  (Server Interaction tab)</b></li>
      <li><a ng-href="https://drive.google.com/file/d/0B6nVUXEYBDpiNTZhUjN1WlFFLWc/view?usp=sharing" target="_blank">
        <b>ngResource</b>
      </a><small>To see details about ngResource it's implementation</small></li>
    </ul>
  </p>
</div>
